body {
    padding: 10px;
    margin: 0px;
}

.section {
    height: 300px;
    width: 100%;

    &:nth-child(3n-1) {
        background-color: #8c7ca1 !important;
        border-color: #8c7ca1 !important;
    }
    
    &:nth-child(3n-2) {
        background-color: #797cb5 !important;
        border-color: #797cb5 !important;
    }
    
    &:nth-child(3n-3) {
        background-color: #9ecbe2 !important;
        border-color: #9ecbe2 !important;
    }
}